.character {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 20px 0;
}

.characterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.selectChar {
  margin-bottom: 20px;
}
h1 {
  font-size: 60px;
}
